{% extends 'products/base_dashboard.html' %}
{% block title %}Составить КП | Панель управления ООО «АРМАСЕТИ ИМПОРТ»{% endblock %}
{% block content %}
<h2 class="mb-4">Составить коммерческое предложение</h2>
<form method="post" enctype="multipart/form-data" class="row g-3 mb-4">
  {% csrf_token %}
  <div class="col-md-8">
    {{ form.text.label_tag }}
    {{ form.text }}
  </div>
  <div class="col-md-4">
    {{ form.file.label_tag }}
    {{ form.file }}
  </div>
  <div class="col-12 mt-3">
    <button type="submit" class="btn btn-primary btn-lg">Составить КП</button>
  </div>
</form>
{% if error %}
  <div class="alert alert-danger">{{ error }}</div>
{% endif %}
{% if result %}
  <div class="alert alert-success">{{ result }}</div>
{% endif %}
{% endblock %} 